In [5]:
import pandas as pd
import numpy as np
import phik
import seaborn as sns
import category_encoders as ce

columns = ['A','B','C']
data = [["привет", 3, 4],["пока",1,2]]
df = pd.DataFrame(columns = columns, data = data)
df.columns = [x.lower() for x in df.columns]

In [6]:
ce_ohe = ce.OneHotEncoder()
df_coded = ce_ohe.fit_transform(df)
df_coded

   a_1  a_2  b  c
0    1    0  3  4
1    0    1  1  2

In [13]:
df_coded_2 = df_coded.drop('b',axis = 1)
df_coded_2

   a_1  a_2  c
0    1    0  4
1    0    1  2

In [27]:
a = [1,2,3]

print(str(a)+'sda')

[1, 2, 3]sda

In [19]:

on = np.ones(shape = (2,3))

df = pd.DataFrame(data = [[1,2,3],[4,5,6],[4,5,6],[4,5,6],[4,5,6],[4,5,6]])
df.index = [1,2,3,4,5,6]
df

   0  1  2
1  1  2  3
2  4  5  6
3  4  5  6
4  4  5  6
5  4  5  6
6  4  5  6

In [17]:
df.index.is_monotonic_increasing

False